<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Share Server</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  {{#if error}}
    <div class="alert">
      {{error}}
    </div>
  {{/if}}

  <form method="post">
    <label class="form__row">
      <textarea class="form__row__textarea" name="text"></textarea>
      <button type="submit">Send</button>
    </label>

    <div class="form__row">
      <div class="snippets">
        {{#if snippets}}
          {{#each snippets}}
            <div class="snippet">
              <div class="snippet__text">{{{this.html}}}</div>
              <div class="snippet__metadata">{{this.createdAt}}</div>
            </div>
          {{/each}}
        {{else}}
          There are no snippets to display.
        {{/if}}
      </div>
      <button type="submit" name="reset" value="{{clearToken}}">Reset</button>
    </div>
  </form>
</body>
</html>
